<div class="header">
    <div class="container" style="padding: 25px; color: white;">
        <div class="row">
            <div id="lnheight" class="col-3">
                <p>PRIME ORIGINAL</p>
                <!-- <h1 style="font-style: oblique; font-size: 45px;">MIRZAPUR</h1> -->
                <h1 class="fs-3 fst-italic" style="color: red;">MIRZAPUR</h1>
                <div class="row">
                    <div class="col-5">
                        <p>STREAM NOW</p>
                    </div>
                    <div class="col-4">
                        <img src="assets/images/amzlogo1.png"  alt="" style="width: 90px;">
                    </div>
                </div>
            </div>
            <!-- <div id="lnht" class="col-3">
                <p>|<br>|<br>|<br>|<br>|</p>              
            </div> -->
            <div class="col-5">
                <p>MIRZAPUR INSPIRED SUNGLASSES</p>
                <img src="assets/images/googles1.jpg" class="rounded-circle" alt="" style=" width: 50%">
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <p>Shop the Collection today and 20 Lucky winners per day to win</p>
                <p  style="padding-left: 120px;">Amazin Fire TV Stick</p>
                <div style="padding-left: 130px;"><button type="button" class="btn btn-danger">View Collection</button></div>
            </div>
        </div>
    </div>
</div>