<div id="id1" class="container fluid">
    <h2 class="head">BOLD, DARING & STURDY</h2>
    <P>These Pilots are perfect for that Grunge Look</P>
</div>
<div class="container fluid">
    <div class="row justify-content-center">
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/usage2.jpg" class="rounded-circle" alt="">
            <div class="card-body">
              <p id="card-title" class="card-title">Akhandanand tripati</p>
              <p class="card-text">The iron-fisted Akhandanand tripati is a millionare carpet exporterand the mafia don of mirzapur</p>
            </div>
        </div>
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/divyendu.jpg" class="rounded-circle" alt="">
            <div class="card-body">
              <p id="card-title" class="card-title">Munna Tripati</p>
              <p class="card-text">Akhandanand's son, Munna Tripati is power hungry and will not stop at anything to inherit his father's legacy</p>
            </div>
        </div>
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/usage1.jpg" class="rounded-circle" alt="">
            <div class="card-body">
              <p id="card-title" class="card-title">Maurya Saab</p>
              <p class="card-text">A Honest cop, Maurya Saab who goes an extra mile to eliminate the bad and the over-powering crime in the city</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/googles3.jpg" class="rounded-circle" alt="">
            <div class="card-body">
              <p class="card-title">Vincent Chase</p>
              <p class="card-text">Metallic Black Full Rim </p>
              <a href="#" class="btn btn-light">BUY NOW</a>
            </div>
        </div>
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/googles4.jpg" class="rounded-circle"alt="">
            <div class="card-body">
              <p class="card-title">Vincent Chase</p>
              <p class="card-text">Golden Yellow Full Rim</p>
              <a href="#" class="btn btn-light">BUY NOW</a>
            </div>
        </div>
        <div class="card text-white text-center bg-dark mb-3" style="width: 18rem; background-color: black;">
            <img src="assets/images/googles5.jpg" class="rounded-circle" alt="">
            <div class="card-body">
              <p class="card-title">Vincent Chase</p>
              <p class="card-text">Golden Brown Full Rim</p>
              <a href="#" class="btn btn-light">BUY NOW</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="ref2">
    <div class="container fluid text-center">
        <p>Shop the Mirzapur Collection & 20 Lucky Winners per day to win</p>
        <p>Amazon fire TV stick</p>
        <button type="button" class="btn btn-light">View collection</button>
    </div>
</div>
<br><br>
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <h6 id="trms">Terms & Conditions of the contest</h6>
       
      </div>
    </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="card text-white bg-dark mb-3" style="max-width: 80rem;">
      <h3 class="card-header">Terms & Conditions of the contest</h3>
      <h5 class="card-header pt-0 text-muted">_____</h5>
      <div class="card-body">
        <p class="card-text text-light text-start">1.20 lucky winners everyday will be selected at random.</p>
        <p class="card-text text-light text-start">2.Winners will be anounced within 24 hours of order placed via SMS on registered Phone number and or emailon the registered email ID.</p>
        <p class="card-text text-light text-start">3.Complementary Amazon Fire TV stick CODE will be sent to the winners on order completion.(Order completion: Whne the order is delivered and the return period of 14 days is over).</p>
        <p class="card-text text-light text-start">4.The coupon code is redeemable on amazon.in To claim follow the steps sent on email to order complementary Amazon Fire TV stick.</p>
        <p class="card-text text-light text-start">5.The Purchase need to be made from the Mirzapur inspired sunglasses collection only.</p>
        <p class="card-text text-light text-start">6.the offer is subjected to change without any prior notice and at the sole discretion of Lenskart and Amazon. </p>
        <p class="card-text text-light text-start">7.Offer valid from 16th November 2018 till 26th November 2018 codes need to be used before 31st December 2018.</p>
        <p class="card-text text-light text-start">8.In case of failure on coupon code redemption, please follow <a href="#">Amazon's T&C</a></p>
        <p class="card-text text-light text-start">9.For after sale service of Amazon Fire TV Stick, please follow <a href="#">Amazon's T&C</a></p>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container fluid">
  <div class="card" style="max-width:80rem;">
    <div id="help" class="card-body">
      <h3 class="card-title text-white">Looking For Help?</h3>
      <h6 class="card-subtitle mb-0 text-muted">_____</h6>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="card-text text-white text-start">we are available by phone from Monday to Sunday from 9AM to 8PM.</p>
            <p class="card-text text-white text-start">please feel free to call us if you have any queries</p>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-light">
                  <span class="material-icons" style="padding: 5px;">email</span>
                  Email Us
                  <br><span>support@lenskart.com</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-light">
              <span class="material-icons">call</span>
              Call Us
              <br>
              <span>99998 99998</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

